<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="chartColumn"></div>
    <div id="chartBar"></div>
    <script src="javascripts/columnChart.js"></script>
    <script src="javascripts/barChart.js" products="<%= listProduct %>">
    </script>
  </body>
</html>
