<div class="footer col-12" style="z-index: 100; position: absolute;">
    <div class="container-fluid row" style="justify-content: space-around; flex-wrap: nowrap;">
        <div class="col-4" style="margin-right: 55px; margin-left: 25px; padding-top: 30px;">
            <a href="/home">
                <img src="https://res.cloudinary.com/ddzmeaxld/image/upload/v1696493858/images/upload/logo.png" alt="Logo.png" width="65" height="65"
                    class="d-inline-block align-text-top">
            </a>
            <div style="margin-top: 10px;">
                <p class="text-light">Vestman project data governance website.</p>
                <p class="text-light" style="margin-top: -10px;">For administrators to manage data.</p>
            </div>
        </div>
        <div class="row col-8">
            <div class="col-3 divLinkFooter">
                <ul class="ulLinkFooter" style="margin-top: 45px;">
                    <li><a class="nav-link textLinkNavbar" href="#">Home</a></li>
                    <li><a class="nav-link textLinkNavbar" href="#">Login</a></li>
                    <li><a class="nav-link textLinkNavbar" href="#">Register</a></li>
                </ul>
            </div>
            <div class="col-3 divLinkFooter">
                <ul class="ulLinkFooter">
                    <li>
                        <p class="titleLinkFooter">Admin</p>
                    </li>
                    <li><a class="nav-link textLinkNavbar" href="#">Dashboard</a></li>
                    <li><a class="nav-link textLinkNavbar" href="#">Account</a></li>
                    <li><a class="nav-link textLinkNavbar" href="#">Management</a></li>
                </ul>
            </div>
            <div class="col-3 divLinkFooter">
                <ul class="ulLinkFooter">
                    <li>
                        <p class="titleLinkFooter">Project</p>
                    </li>
                    <li><a class="nav-link textLinkNavbar" href="#">Client</a></li>
                    <li><a class="nav-link textLinkNavbar" href="#">Product</a></li>
                    <li><a class="nav-link textLinkNavbar" href="#">Bill</a></li>
                    <li><a class="nav-link textLinkNavbar" href="#">Discount</a></li>
                    <li><a class="nav-link textLinkNavbar" href="#">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>