<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link " aria-current="page" href="/product">
          <i class="bi bi-house"></i>
          Product
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/bill">
          <i class="bi bi-patch-question"></i>
          Bill
        </a>
      </li> 
    
      <li class="nav-item">
        <a class="nav-link " href="/blog">
          <i class="bi bi-patch-question"></i>
          Blog
        </a>
      </li> 
      <li class="nav-item">
        <a class="nav-link " href="/discount">
          <i class="bi bi-patch-question"></i>
          Discount
        </a>
      </li> 

      <li class="nav-item">
        <a class="nav-link " href="/admin">
          <i class="bi bi-patch-question"></i>
          Acount Admin
        </a>
      </li> 
      <li class="nav-item">
        <a class="nav-link " href="/client">
          <i class="bi bi-patch-question"></i>
          Acount Client
        </a>
      </li> 

      <li class="nav-item">
        <a class="nav-link " href="/admin/statistical">
          <i class="bi bi-patch-question"></i>
          Statistical
        </a>
      </li> 

    </ul>
  </div>
</nav>