<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link " aria-current="page" href="/#">
          <i class="fa-solid fa-house"></i>
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " aria-current="page" href="/#">
          <i class="fa-brands fa-dashcube"></i>
          DashBoard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/admin/info">
          <i class="fa-solid fa-user"></i>
          Acount Admin
        </a>
      </li> 
      <li class="nav-item">
        <a class="nav-link " href="/client">
          <i class="fa-solid fa-circle-user"></i>
          Acount Client
        </a>
      </li> 
      <li class="nav-item">
        <a class="nav-link " aria-current="page" href="/product">
          <i class="fa-brands fa-product-hunt"></i>
          Product
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/bill">
          <i class="fa-solid fa-money-bill"></i>
          Bill
        </a>
      </li> 
    
     
      <li class="nav-item">
        <a class="nav-link " href="/discount">
          <i class="fa-solid fa-tag"></i>
          Discount
        </a>
      </li> 
      <li class="nav-item">
        <a class="nav-link " href="/blog">
          <i class="fa-solid fa-blog"></i>
          Blog
        </a>
      </li> 

      
     

    </ul>
  </div>
</nav>