<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>
  <div class="container text-center" style="padding-top: 35px; padding-bottom: 35px;">
    <img src="https://res.cloudinary.com/ddzmeaxld/image/upload/v1696493858/images/upload/logo.png"
      style="width: 95px; height: 95px;" />
    <h2 style="margin-top: 10px;"> Vestman project management website </h2>
    <div style="margin: 30px;">
      <h5> Only for admins to run server-side projects, </h5>
      <h5> This is not a website for customers. </h5>
    </div>
    <div class="col-12 text-center">
      <img class="col-6" src="https://top10tphcm.com/wp-content/uploads/2022/05/top-cua-hang-may-vest-nam-tai-TP-HCM.jpg" />
      <!-- style="max-width: 100%; height: auto;" -->
    </div>
  </div>
</body>

</html>